

p,ul {
	
	line-height:20px;
	font-size:20px;
	color:white;
	

}

h1 {
	text-align:center;
	align-content:center;
	color: white;
	text-shadow: 3px 3px 1px black;
}



html {
	background-image: url("images/IMG_6005.jpg");
	background-size:100%;
}

button{
	position:fixed;
	right:0;
	bottom:0;
}
